{% extends 'base.html' %}
{% block content %}

<style>
  .about-container {
      max-width: 900px;
      padding: 20px;
      font-family: Arial, sans-serif;
      line-height: 1.6;
  }
  
  .about-container h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
  }
  
  .about-container h2 {
      font-size: 2em;
      margin-top: 20px;
      color: #333;
      text-align: center;
  }
  
  .mission-vision {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      
  }
  
  .mission, .vision {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #9669C9;
  }
  
  .mission p, .vision p {
      margin: 10px 0;
  }
  
  .history {
      margin-top: 30px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #9669C9;
  }
  
  .history p {
      margin: 10px 0;
  }
  
  .team {
      margin-top: 30px;
  }
  
  


  h1 {
    color: purple !important;
  }
  </style>

  
  























<center>

<div class="about-container">

    <br>
    <h1>
        About Us Page
        
      </h1>
        <br>
 

  <section class="mission-vision">
    <div class="mission">
        <h2> Mission</h2>
        <p>To provide the highest quality care and services to our clients, ensuring their well-being and happiness.</p>
    </div>
    <div class="vision">
        <h2> Vision</h2>
        <p>To be the leading provider of childcare and sitter services, known for our reliability, compassion, and excellence.</p>
    </div>
</section>
<section class="history">
    <h2> History</h2>
    <p>Founded in 2010, our company has been dedicated to offering top-notch childcare solutions. Over the years, we have grown and evolved, always staying true to our core values and mission.</p>
</section>
</center>


  


    

{% endblock %}
