
{% extends 'base.html' %}
{% block content %}
  <center>
    <h1>
      Sitter Registration Page
    </h1>
    
      <!-- <form method="POST">
        
        {{ getsitterregistrationform.as_p }}
        <button type="submit">Submit</button>
    </form> -->
        
  </center>
  <br> <br> <br> <br> <br>

  <center>

    <div class="container">

    <form method="POST">
      {% csrf_token %}
      <div class="col-md-4">
        <label for="name" class="form-label"></label>
        <input type="text" class="form-control" placeholder="Full Name" name="name" required>
        
      </div>
      <div class="col-md-4">
        <label for="contact" class="form-label"></label>
        <input type="text" class="form-control" placeholder="Contact e.g +256755xxx" name="contact"  required>
        
      
      </div>

    
    <div class="col-md-4">
      <label for="date_of_birth" class="form-label"></label>
      <input type="date" class="form-control" placeholder="Date of Birth" name="date_of_birth"  required>
      
    
    </div>


    <div class="col-md-4">
      <label for="nin" class="form-label"></label>
      <input type="text" class="form-control" placeholder="NIN" name="nin"  required>
        </div>


        <div class="col-md-4">
          <label for="recommender_name" class="form-label"></label>
          <input type="text" class="form-control" placeholder="Recommender Name" name="recommender_name"  required>
            </div>

            <div class="col-md-4">
              <label for="level_of_education" class="form-label">Level of Education</label>
              <select class="form-select" name="level_of_education" required>
                  <option value="">Level of Education</option>
                  <option value="Degree">Degree</option>
                  <option value="Diploma">Diploma</option>
                  <option value="UACE">UACE</option>
                  <option value="UCE">UCE</option>
              </select>
          </div>


          <div class="col-md-4">
            <label for="sitter_number" class="form-label"></label>
            <input type="text" class="form-control" placeholder="Sitter Number" name="sitter_number"  required>
              </div>

              <div class="col-md-4">
                <label for="location" class="form-label"></label>
                <input type="text" class="form-control" placeholder="Location" name="location"  required>
                  </div>



    








      
      <div class="col-md-4">
        <label for="next_of_kin" class="form-label"></label>
        <input type="text" class="form-control" placeholder="Next of Kin" name="next_of_kin"  required>
        
      </div>


      <div class="col-md-4">
        <label for="mother_name" class="form-label"></label>
        <input type="text" class="form-control" placeholder="Mother's Name" name="mother_name"  required>
        
        
      </div>















      <!-- <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Zip</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>

          
        </div>
      </div> -->
      <br> <br> 
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
    </div>


  </center>
    
{% endblock %}