* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edeef22b !important;
  color: white !important;
  font-family: Netflix Sans !important;
}

li a {
    display: block;
    width: 60px;
  }

  ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    
  }
  
  li a {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #EDEEF2;
  }
  
  li a {
    display: block;
    color: #A7ADBD;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
   
    color: #6233AF;
  }

  nav{
    top: 0;
    height: 100%;
    position: fixed;
    background-color: #EDEEF2;
  }
  
  /* footer starts here*/
  footer {
    background-color: #EDEEF2;
    padding: 10px;
    text-align: center;
    color: #6233AF;
    bottom: 0;
    width: 100%;
    position: fixed;
  }

  .logo img {
    width: 150px !important;
    height: 150px !important;
    margin-top: 10px;
    margin-left: 30px;
    
  
  }